In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import io
from scipy import stats
from statsmodels import robust
%matplotlib inline

In [2]:
data = pd.read_csv('https://github.com/MinCiencia/Datos-COVID19/blob/master/output/producto13/CasosNuevosCumulativo.csv?raw=true', sep=',')
##leo dataframe cuarentenas

In [4]:
data2 = pd.read_csv('https://github.com/MinCiencia/Datos-COVID19/blob/master/output/producto13/CasosNuevosCumulativo.csv?raw=true', sep=',')
##define el dataframe en casos por comuna

In [5]:
data.head(5)

,Region,2020-03-03,2020-03-04,2020-03-05,2020-03-06,2020-03-07,2020-03-08,2020-03-09,2020-03-10,2020-03-11,...,2021-10-03,2021-10-04,2021-10-05,2021-10-06,2021-10-07,2021-10-08,2021-10-09,2021-10-10,2021-10-11,2021-10-12
0,Arica y Parinacota,0,0,0,0,0,0,0,0,0,...,28,18,8,20,22,21,15,27,11,13
1,Tarapacá,0,0,0,0,0,0,0,0,0,...,23,41,31,17,47,18,42,17,36,22
2,Antofagasta,0,0,0,0,0,0,0,0,0,...,30,51,28,33,42,32,35,38,36,37
3,Atacama,0,0,0,0,0,0,0,0,0,...,23,15,9,10,10,10,15,17,15,5
4,Coquimbo,0,0,0,0,0,0,0,0,0,...,27,25,14,34,18,25,37,38,29,11

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Columns: 590 entries, Region to 2021-10-12
dtypes: float64(2), int64(587), object(1)
memory usage: 78.5+ KB

In [7]:
data.dtypes

Region        object
2020-03-03     int64
2020-03-04     int64
2020-03-05     int64
2020-03-06     int64
               ...
2021-10-08     int64
2021-10-09     int64
2021-10-10     int64
2021-10-11     int64
2021-10-12     int64
Length: 590, dtype: object

In [15]:
data

,Region,2020-03-03,2020-03-04,2020-03-05,2020-03-06,2020-03-07,2020-03-08,2020-03-09,2020-03-10,2020-03-11,...,2021-10-03,2021-10-04,2021-10-05,2021-10-06,2021-10-07,2021-10-08,2021-10-09,2021-10-10,2021-10-11,2021-10-12
0,Arica y Parinacota,0,0,0,0,0,0,0,0,0,...,28,18,8,20,22,21,15,27,11,13
1,Tarapacá,0,0,0,0,0,0,0,0,0,...,23,41,31,17,47,18,42,17,36,22
2,Antofagasta,0,0,0,0,0,0,0,0,0,...,30,51,28,33,42,32,35,38,36,37
3,Atacama,0,0,0,0,0,0,0,0,0,...,23,15,9,10,10,10,15,17,15,5
4,Coquimbo,0,0,0,0,0,0,0,0,0,...,27,25,14,34,18,25,37,38,29,11
5,Valparaíso,0,0,0,0,0,0,0,0,0,...,79,41,34,42,89,84,88,93,73,40
6,Metropolitana,0,1,1,1,1,2,3,1,4,...,364,341,266,414,556,624,583,626,568,343
7,O’Higgins,0,0,0,0,0,0,0,0,0,...,25,21,27,24,25,36,48,18,28,31
8,Maule,0,1,0,0,0,1,1,1,2,...,33,28,16,43,29,52,44,76,59,44
9,Ñuble,0,0,0,0,0,0,0,0,0,...,13,17,6,8,18,11,14,28,25,16
10,Biobío,0,0,0,0,0,0,1,0,0,...,44,27,30,39,44,43,39,49,60,32
11,Araucanía,0,0,0,0,0,0,0,0,0,...,30,28,18,10,27,23,18,19,17,18
12,Los Ríos,0,0,0,0,0,0,0,0,0,...,11,5,1,8,17,14,16,19,12,6
13,Los Lagos,0,0,0,0,1,0,0,0,0,...,18,9,11,7,28,40,33,27,20,15
14,Aysén,0,0,0,0,0,0,0,0,0,...,3,6,3,5,8,4,6,13,6,1
15,Magallanes,0,0,0,0,0,0,0,0,0,...,1,0,1,0,1,0,0,0,1,0
16,Total,0,2,1,1,2,3,5,2,6,...,752,673,503,714,981,1037,1033,1105,996,634

In [17]:
data.drop([16],axis=0)
## Elimino fila de totales

,Region,2020-03-03,2020-03-04,2020-03-05,2020-03-06,2020-03-07,2020-03-08,2020-03-09,2020-03-10,2020-03-11,...,2021-10-03,2021-10-04,2021-10-05,2021-10-06,2021-10-07,2021-10-08,2021-10-09,2021-10-10,2021-10-11,2021-10-12
0,Arica y Parinacota,0,0,0,0,0,0,0,0,0,...,28,18,8,20,22,21,15,27,11,13
1,Tarapacá,0,0,0,0,0,0,0,0,0,...,23,41,31,17,47,18,42,17,36,22
2,Antofagasta,0,0,0,0,0,0,0,0,0,...,30,51,28,33,42,32,35,38,36,37
3,Atacama,0,0,0,0,0,0,0,0,0,...,23,15,9,10,10,10,15,17,15,5
4,Coquimbo,0,0,0,0,0,0,0,0,0,...,27,25,14,34,18,25,37,38,29,11
5,Valparaíso,0,0,0,0,0,0,0,0,0,...,79,41,34,42,89,84,88,93,73,40
6,Metropolitana,0,1,1,1,1,2,3,1,4,...,364,341,266,414,556,624,583,626,568,343
7,O’Higgins,0,0,0,0,0,0,0,0,0,...,25,21,27,24,25,36,48,18,28,31
8,Maule,0,1,0,0,0,1,1,1,2,...,33,28,16,43,29,52,44,76,59,44
9,Ñuble,0,0,0,0,0,0,0,0,0,...,13,17,6,8,18,11,14,28,25,16
10,Biobío,0,0,0,0,0,0,1,0,0,...,44,27,30,39,44,43,39,49,60,32
11,Araucanía,0,0,0,0,0,0,0,0,0,...,30,28,18,10,27,23,18,19,17,18
12,Los Ríos,0,0,0,0,0,0,0,0,0,...,11,5,1,8,17,14,16,19,12,6
13,Los Lagos,0,0,0,0,1,0,0,0,0,...,18,9,11,7,28,40,33,27,20,15
14,Aysén,0,0,0,0,0,0,0,0,0,...,3,6,3,5,8,4,6,13,6,1
15,Magallanes,0,0,0,0,0,0,0,0,0,...,1,0,1,0,1,0,0,0,1,0

In [18]:
data1 = data.iloc[:,1:588]
print(data1.columns)
## Ver nombre de columnas (solo las que tienen fecha)

Index(['2020-03-03', '2020-03-04', '2020-03-05', '2020-03-06', '2020-03-07',
       '2020-03-08', '2020-03-09', '2020-03-10', '2020-03-11', '2020-03-12',
       ...
       '2021-10-01', '2021-10-02', '2021-10-03', '2021-10-04', '2021-10-05',
       '2021-10-06', '2021-10-07', '2021-10-08', '2021-10-09', '2021-10-10'],
      dtype='object', length=587)

In [19]:
data1.columns = pd.to_datetime(data1.columns).strftime("%Y/%m/%d")
data1.head(5)

,2020/03/03,2020/03/04,2020/03/05,2020/03/06,2020/03/07,2020/03/08,2020/03/09,2020/03/10,2020/03/11,2020/03/12,...,2021/10/01,2021/10/02,2021/10/03,2021/10/04,2021/10/05,2021/10/06,2021/10/07,2021/10/08,2021/10/09,2021/10/10
0,0,0,0,0,0,0,0,0,0,0,...,32,50,28,18,8,20,22,21,15,27
1,0,0,0,0,0,0,0,0,0,0,...,36,21,23,41,31,17,47,18,42,17
2,0,0,0,0,0,0,0,0,0,0,...,37,65,30,51,28,33,42,32,35,38
3,0,0,0,0,0,0,0,0,0,0,...,17,12,23,15,9,10,10,10,15,17
4,0,0,0,0,0,0,0,0,0,0,...,26,28,27,25,14,34,18,25,37,38

In [20]:
data2 = data1.groupby(pd.PeriodIndex(data1.columns, freq="d"), axis=1).sum()
data2.head(5)

,2020-03-03,2020-03-04,2020-03-05,2020-03-06,2020-03-07,2020-03-08,2020-03-09,2020-03-10,2020-03-11,2020-03-12,...,2021-10-01,2021-10-02,2021-10-03,2021-10-04,2021-10-05,2021-10-06,2021-10-07,2021-10-08,2021-10-09,2021-10-10
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,32.0,50.0,28.0,18.0,8.0,20.0,22.0,21.0,15.0,27.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,36.0,21.0,23.0,41.0,31.0,17.0,47.0,18.0,42.0,17.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,37.0,65.0,30.0,51.0,28.0,33.0,42.0,32.0,35.0,38.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,17.0,12.0,23.0,15.0,9.0,10.0,10.0,10.0,15.0,17.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,26.0,28.0,27.0,25.0,14.0,34.0,18.0,25.0,37.0,38.0

In [21]:
sum_monthly = data2.sum(axis=0)
print(sum_monthly)
## sumo lo que hay dentro por mes

2020-03-03       0.0
2020-03-04       4.0
2020-03-05       2.0
2020-03-06       2.0
2020-03-07       4.0
               ...
2021-10-06    1428.0
2021-10-07    1962.0
2021-10-08    2074.0
2021-10-09    2066.0
2021-10-10    2210.0
Freq: D, Length: 587, dtype: float64

In [23]:
sort_monthly = sum_monthly.sort_values(ascending=False)/2
sort_monthly
## suma por dia

2021-04-09    9171.0
2021-06-05    8867.0
2021-05-28    8680.0
2021-05-29    8426.0
2021-06-04    8273.0
               ...
2020-03-07       2.0
2020-03-10       2.0
2020-03-05       1.0
2020-03-06       1.0
2020-03-03       0.0
Freq: D, Length: 587, dtype: float64